header{
    display:flex;
    max-width: 100%;
    justify-content: space-around;
    background-color: rgba(61, 33, 33, 0.13);
    color:white;
    

    
}


header h1{
    color: #000000;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}